


.imageItself {
    
   
    width: 80%;
}

.searchTextArea {
    width: 100%;
    height: 50px;
    text-align: left;
    
}

.searchContainer {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.littleUserBox{
    border: solid blue;
}


.description {
    color: black;
}

.littleUserBox  a:hover {
    text-decoration: none;
}



